header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  background-color: rgba($color: #464646, $alpha: 0.2);
  -webkit-backdrop-filter: blur(11.3px);
  border-bottom: solid 2px rgba($color: #b6b6b6, $alpha: 0.2);
  padding: 1rem 0rem;
}

.main-navigation {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  ul {
    padding-right: 1rem;
    li {
      &:hover {
        text-decoration: underline;
        color: $accent-color;
      }
    }
  }
}