header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(11.3px);
}

header .top-section {
  padding: 1rem 1rem;
}

.main-navigation {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  ul {
    li {
      padding: 1rem 1rem;

      &:hover {
        background-color: $accent-color;
        color: $secondary-color;
      }
    }
  }
}