header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .top-section{
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
}

header .top-section h1 {
    font-size: 4rem;
}

header .top-section h3{
    text-align: center;
}

.main-navigation{
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    width: 100%;
    display: flex;
    justify-content: center;


    ul{
        li{
            border-left: 1px solid $primary-color;
            border-right: 1px solid $primary-color;
            width: fit-content;
            padding: 1rem 2rem;
            &:hover {
                background-color: $accent-color;
                color: $secondary-color;
            }
        }
    }
}