.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    &__text{
        h1{
            font-size: 2.8rem;
        }
        @include breakpoint(medium){
            width: 45vw;
        }
    }
    &__text::first-letter{
        color: $accent-color;
        font-size: 5rem;
    }
}
