.hero {
    min-height: 100vh;
    padding: 0;
    padding-top: 100px;
    text-align: center;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 1rem;
        & > * {
            display: block;
            width: 100%;
        }
    }
    &__marquee{
        position: absolute;
        bottom: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    &__name {
        text-align: start;
        font-size: 12vw;
        margin-bottom: 1rem;
        text-transform: uppercase;
        @include breakpoint (medium ){
            font-size: 6rem;
        }
    }
    &__focusing ,&__location{
        font-size: 9vw ;
        padding-right: 1rem;
        text-align: end;
        @include breakpoint (medium ){
            font-size: 3.5rem;
            padding-right: 3rem;
        }
    }
}
