.portfolio-title {
  margin: 3rem;
  font-size: 3rem;
}

.projects {
  background-color: black;
  height: fit-content;
  width: 90%;
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  min-height: 300px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: auto;
    width: 100%;
    min-height: 400px;
    grid-auto-rows: 250px;
    padding: 0rem 1rem 1rem 1rem;
  }
}

@media (min-width: 701px) and (max-width: 1023px) {
  .projects {
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px;
    width: 100%;
    min-height: 400px;
  }
}